@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.titleBox {
  margin-left: 19vw;
}

.updatedTime {
  margin-top: 20vh;
  font-size: 1vw;
}

.box {
  background-color: #fff;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 12vw;
  height: auto;
  border-radius: 1rem;
}

.boxContainer {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 46.5vw;
}

.rightBox {
  margin-left: 5vw;
}

.boxTitle {
  margin-top: 1.5vh;
  font-size: 2.2vw;
  font-family: 'Nanum Gothic', sans-serif;
}

.humi {
  font-weight: bold;
  color: #0e0a80;
}

.temp {
  font-weight: bold;
  color: #d3122c;
}

.feelTemp {
  font-weight: bold;
  color: #1aab6e;
}

.supplement {
  margin-top: 1vh;
  font-size: 1.2vw;
  margin-bottom: 2vh;
}

.plantBookContainer {
  margin-top: 40vh;
  margin-left: auto;
  margin-right: auto;
}

.plantBook {
  filter: grayscale(1.1);
  width: 10vw;
}

.plantBook:hover {
  cursor: pointer;
  filter: none;
}
