@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.titleBox {
  margin-left: 19vw;
}

.updatedTime {
  margin-top: 20vh;
  font-size: 1vw;
}

.box {
  background-color: #fff;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 12vw;
  height: auto;
  border-radius: 1rem;
}

.boxContainer {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 63.5vw;
}

.rightBox {
  margin-left: 5vw;
}

.boxTitle {
  margin-top: 1.5vh;
  font-size: 2.2vw;
  font-family: 'Nanum Gothic', sans-serif;
}

.humi {
  font-weight: bold;
  color: #0e0a80;
}

.temp {
  font-weight: bold;
  color: #d3122c;
}

.feelTemp {
  font-weight: bold;
  color: #42d6db;
}

.supplement {
  margin-top: 1vh;
  font-size: 1.2vw;
  margin-bottom: 2vh;
}

.plantBookContainer {
  margin-top: 40vh;
  margin-left: auto;
  margin-right: auto;
}

.plantBook {
  filter: grayscale(1.1);
  width: 10vw;
}

.plantBook:hover {
  cursor: pointer;
  filter: none;
}

.ph {
  font-weight: bold;
  color: #42db51;
}

.deleteButton {
  margin-left: 1vw;
  margin-top: 3vw;
  background-color: #0095ff;
  margin-right: auto;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;

  &:hover {
    background-color: #07c;
  }


  &:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }


  &:active {
    background-color: #0064bd;
    box-shadow: none;
  }
}

.notExist {
  font-size: 4.5vw;
  text-align: center;
  font-family: 'Noto Serif KR', serif;
  margin-top: 17vh;
}
