@font-face {
  font-family: 'CBNUJIKJI';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/CBNUJIKJI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  text-align: center;
}

.descriptionPage {
  margin-top: 6vh;
}

.plantTitle {
  font-family: 'CBNUJIKJI';
  font-size: 35px;
}

.description {
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 20px;
  margin-bottom: 6rem;
}

.footer {
  height: 45px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  color: white;
  text-align: center;
}

.footerFont {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: -10px;
  &:hover {
    cursor: pointer;
    color: #000;
  }
}

.inputId {
  border: #ccc 1px solid;
  height: 2.3rem;
  width: 15rem;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 5px;
}

.inputPassword {
  border: #ccc 1px solid;
  width: 15rem;
  height: 2.3rem;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 1rem;
}

.loginBtn {
  display: block;
  background-color: #0095f6;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  height: 37px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 0px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
}

.loginBtn:hover {
  cursor: pointer;
  background-color: #0090c6;
}