.select {
  margin-top: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.beforeChoice {
  font-size: 20px;
  margin-top: 20vh;
}

.btn {
  border-radius: 5px;
  height: 30px;
  width: 70px;
  color: #fff;
  background-color: #fa6400;
  margin-top: 10px;
  margin-bottom: 4rem;
}